.product-card {
  width: 100%;
  max-width: 300px; /* Manter o tamanho máximo dos cards */
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-name {
  color: #ff7f00;
  margin-top: 10px;
  font-weight: bold;
  overflow: hidden; /* Impede que o texto saia do card */
  white-space: nowrap; /* Impede a quebra de texto */
  text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
}

.product-link {
  text-decoration: none; /* Remover sublinhado padrão */
  color: inherit; /* Herdar a cor do texto do pai */
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
}

@media screen and (max-width: 576px) {
  .product-grid {
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr); /* Dois cards por linha */
    grid-gap: 0px; /* Espaçamento entre os cards */
  }

  .product-card {
    width: calc(90% - 5px); /* Largura de 50% para cada card */
    margin-right: -90px;
    margin-left: -5px;
    margin-bottom: 20px; /* Espaçamento inferior entre os cards */
    box-sizing: border-box; /* Garante que a largura do card seja calculada corretamente */
  }
}





